body{
  position: relative;
  overflow-x:hidden;
  
}
.custom{
  /* scale: 1.02; */
  
  transform: translateX(-18px) scaleX(1.10);
}

@media (max-width: 640px) {
  .custom {
    transform: translateY(18px) scaleY(-1.2);
  }
}